/* Primary = #623791     Secondary = #e5bd06 */
* {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: sans-serif;
}

img {
   width: 48%;
   height: 400px;

   object-fit: cover;
   padding: 1%;
   border-radius: 3vmax;
}
p {
   width: 48%;
   height: inherit;

   padding: 1%;
}

h2 {
   padding-top: 15px;
   text-align: center;
}

hr {
   border: 3px solid #623791;
}

.left {
   float: left;
}

.right {
   float: right;
}
